html{
	scroll-behavior: smooth;
}

body {
	font-family: Georgia, serif;
	font-size:  15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: white;
}

ul{
	margin: 0;
	padding: 0;
}

/*********************** Main *******************************/

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.container p {
	text-align: justify;
}

/************************ Header *****************************/

header {
	background: #0B1E33;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
}

header a {
	color:  #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float:  left;
}

header #branding h1 {
	margin: 0;
}

header nav {
	float: right;
	margin-top: 10px;
}

header .color-animation{
  animation: color-change 6s infinite;
  font-weight:  bold;
}

@keyframes color-change {
  0% { color: yellow; }
  15% { color: green;}
  30% { color: cyan; }
  45% { color: blue;}
  60% { color: magenta;}
  75% { color: red;}
  85% {color: white;}
}

/********************** Intro ***************************/

#intro {
	min-height: 500px;
	background: url('../img/galaxy.jpg') no-repeat center center fixed;
	background-size: cover;
	text-align: center;
	color: white;
}

#intro h1{
	margin-top: 80px;
	font-size: 50px;
}

#intro p{
	font-size: 20px;
	text-align: center;
}


/********************** Home ***************************/

#home h1{
	margin-top: 70px;
	text-align: center;
	font-size: 40px;
	margin-bottom: 0;
	text-transform: uppercase;
}

#home p{
	text-align: center;
	width: 50%;
	margin: 10px auto 50px auto;
}

#home h3{
	margin-top: 30px;
}

#home .box p {
	text-align: center;
}

#home .box{
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
	margin-bottom: 50px;
}

#home .box img{
	width: 150px;
	opacity: 0.9;
	transition: transform 1s ease-in-out;
}

#home .box img:hover{
	transform: rotate(360deg) scale(1.2);
	opacity: 1;
}

@media screen and (max-width: 800px) {
  	#home .box {
  		width: 90%;
  		text-align: center;
  	}

  	#home h1{
	font-size: 30px;
	text-align: center;
	}

	#home p{
	width: 80%;
	}
}


/********************** Facts ***************************/

#facts {
	padding: 20px;
	text-align: center;
	background-color: #f2f2f2;
}

#facts h1{
	text-align: center;
	font-size: 40px;
}

@media screen and (max-width: 800px) {
	#facts h1{
		font-size: 30px;
	}
}

.col-text {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.col-img {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.col-img img{
  width: 300px;
  resize: vertical;
  padding: 12px;
}


/*CLEAR ROW**/
.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .col-text, .col-img {
    width: 100%;
    margin-top: 0;
  }

}

/********************** Contact ***************************/

#contact {
	box-sizing: border-box;
	text-align: center;
}

#contact h1{
	font-size: 40px;
	color:  white;
	margin-top: 40px;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.container-contact {
  	background: url('../img/contact.png') no-repeat center center fixed;
	background-size: cover;
  	padding: 20px 20px 20px 20px;
  	min-height: 500px;
}

input[type=text], [type=email], textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-top: 6px
}

textarea {
	height: 150px;
}

.button_1 {
  background-color: #4CAF90;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 40px;
}

.button_1:hover {
  background-color: #45a080;
}

@media screen and (max-width: 800px) {
  	.button_1 {
    width: 50%;
  }

 input[type=text], [type=email], textarea {
  width: 80%;
	}

	#contact h1{
	font-size: 30px;
	}
}


/********************** Footer ***************************/

footer {
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}

@media screen and (max-width: 800px) {
  	footer{
  		font-size: 9px;
  	}
}











